@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*,*::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%; /* 1rem -> 10px*/
}

body {
	font-family: 'Roboto Slab', serif;
	font-size: 1.6rem;
	background: var(--light-color);
	margin: 2rem;
}

:root {
	--dark-color-a: #5C527F;
	--dark-color-b: #6E85B2;
	--light-color: #EEEEEE;
	--light-color-b: #d1d1d1;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--ai-announcement-color: rgba(245, 230, 83, 0.8);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 1.7rem;
}

/* Chat Page */

.chat-container {
	max-width: 110rem;
	background: #fff;
	margin: 0.3rem auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 2rem 2rem 6rem;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.1);
	padding: 1rem;
	margin-bottom: 2rem;
}

.chat-sidebar h3 {
	margin-bottom: 1.5rem;
}

.chat-sidebar ul li {
	padding: 1rem 0;
	cursor: pointer;
}

.chat-sidebar ul li:hover{
	text-decoration: line-through;
}

.chat-sidebar ul li:nth-child(1){
	color: gold;
}

.chat-sidebar ul li:nth-child(1):hover{
	text-decoration: none;
}

.chat-sidebar ul li:nth-child(1)::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f521";
	margin-right: 0.5rem;
}

.chat-messages .message--my{
	margin-left: 60%;
	background-color: var(--light-color-b) !important;
}

.chat-messages .message--my::before{
	right: 0;
	left: auto !important;
	background-color: var(--light-color-b) !important;
}

.chat-messages .message--my::after{
	right: 0;
	left: auto !important;
	background-color: var(--light-color-b) !important;
}

.chat-messages {
	padding: 3rem;
	height: 50rem;
	overflow-y: scroll;
}

.chat-messages .message {
	position: relative;
	padding: 1rem;
	margin-bottom: 4.5rem;
	background-color: var(--light-color);
	border-radius: 0.5rem;
	overflow-wrap: break-word;
	max-width: 40%;
}

.chat-messages .message::before{
	content: "";
	background-color: var(--light-color);
	position: absolute;
	width: 3.5rem;
	height: 1rem;
	bottom: -1.5rem;
	left: 0;
	border-radius: 0.5rem;
}

.chat-messages .message::after{
	content: "";
	background-color: var(--light-color);
	position: absolute;
	width: 1.5rem;
	height: 1rem;
	bottom: -3rem;
	left: 0;
	border-radius: 0.5rem;
}

.chat-messages .message .meta {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 0.7rem;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-messages .message .meta span::before {
	content: " ";
}

.ai_message{
	text-align: center;
	padding: 1rem;
	margin: 0 25% 1.5rem 25%;
	background-color: var(--ai-announcement-color);
	border-radius: 0.8rem;
}

.chat-form-container {
	padding: 2rem 3rem;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 1.6rem;
	padding: 0.5rem;
	height: 4rem;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 50rem;
	margin: 8rem auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 2rem;
	background: var(--dark-color-a);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.join-main {
	padding: 3rem 4rem;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 2rem;
}

.join-main label {
	margin-top: 2rem;
    margin-bottom:1.5rem;
    position:relative;
}

.join-main input {
	font-size: 1.6rem;
    width:100%;
    padding:1rem;
    margin-top:2rem;
	margin-bottom: 2rem;
    border:none;
    outline:none;
	width: 100%;
}

.join-main input::placeholder{
    opacity:0;
}

.join-main span{
	position:absolute;
	top: -3rem;
	left: 1rem;
	transform:translateY(3rem);
	transition-duration:300ms;
	color: #6b6b6b;
}

.join-main label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:var(--light-color);
    transform:translateY(-0.5rem);
	font-size: 1.8rem;
}

.join-main select {
	font-size: 1.6rem;
	padding: 0.5rem;
	height: 4rem;
	width: 100%;
}

.join-main .btn {
	margin: 2rem 0;
	width: 100%;
}

.join-main a{
	color: var(--light-color);
	font-size: 1.4rem;
	border-bottom: 0.1rem solid var(--light-color);
	padding-top: 2rem;
}

.mobile__button{
	display: none;
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	font-size: 180%;
	border: none;
	background-color: var(--dark-color-a);
	color: var(--light-color);
	bottom: 2rem;
}

.home{
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.home__nav{
	position: fixed;
	background-color: var(--light-color);
	color: var(--dark-color-a);
	text-transform: uppercase;
	right: 0;
}

.home__nav li{
	padding: 1.2rem 1.6rem;
	font-weight: 600;
	font-size: 120%;
}

.home__nav a{
	color: inherit;
}

.home__header{
	font-size: 150%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--light-color);
	height: 40vh;
	background: linear-gradient(272deg, #6e85b2, #5c527f);
    background-size: 400% 400%;
	-webkit-animation: home__header--animation 20s ease infinite;
    -moz-animation: home__header--animation 20s ease infinite;
    animation: home__header--animation 20s ease infinite;
}

.home__header p{
	width: 60vw;
}

.home__header button{
	padding: 1.2rem 1.8rem;
	margin-top: 2rem;
	font-size: 80%;
	border: 0.3rem solid var(--light-color);
	color: var(--light-color);
	background-color: transparent;
	border-radius: 10rem;
	cursor: pointer;
	transition: 3s border-radius;
}

.home__header button:hover{
	border-radius: 1rem;
	transition: 1s border-radius;
}

.home__profile{
	margin: 2rem;
	margin-left: 30vw;
	padding: 2rem;
	width: 40vw;
	background-color: var(--dark-color-b);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--light-color);
}

.home__profile img{
	border-radius: 50%;
	width: 40%;
}

#js--nickname{
	padding-top: 2rem;
}

.home__profile h2{
	font-size: 150%;
	font-weight: 400;
	padding-bottom: 2rem;
}

.home__profile button{
	padding: 1.2rem 1.8rem;
	font-size: 100%;
	border: 0.3rem solid var(--light-color);
	color: var(--light-color);
	background-color: transparent;
	border-radius: 10rem;
	cursor: pointer;
	transition: 0.5s background-color;
}

.home__profile button:hover{
	background-color: var(--dark-color-a);
}

.a__none{
	color: inherit;
}

@media (max-width: 43.75rem) {
	.chat-main {
		display: block;
		position: relative;
	}

	.chat-sidebar {
		display: block;
		position: absolute;
		width: 100%;
		bottom: -40rem;
		opacity: 0;
		transition: 0.5s all;
		z-index: 1;
	}

	.chat-messages .message{
		max-width: 80%;
	}

	.chat-messages .message--my{
		margin-left: 20%;
	}

	.mobile__button{
		position: fixed;
		display: block;
	}

	.home__header{
		height: 60vh;
	}

	.home__profile{
		width: 80vw;
		margin-left: 10vw;
	}
}

@-webkit-keyframes home__header--animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes home__header--animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes home__header--animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
